button {
    width: 22%;
    font-size: 18px;
    margin-bottom: 2%;
}

input[type = "text"]{
    margin-bottom: 2%;
    font-size: 18px;
}

label {
    font-size: 18px;
}


#checkboxContainer{
    display: inline-block;
    flex-direction: column;
    justify-items: left;
}

input[type="checkbox"] { /* change "blue" browser chrome to yellow */
    accent-color: #FF0033;
}